extends layout
block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | WiFi Buddy
          small &nbsp; Yakınınızda WiFi Hizmeti sunan mekanları bulun!
  .row
    .col-xs-12.col-sm-8
      .row.list-group
         .col-xs-12.list-group-item
           h4
             a(href='/mekan') Starbucks
             small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty  
             span.badge.pull-right.badge-default 100m
           p.address Centrum Garden AVM
           p
              span.label.label-warning Dünya Kahveleri
              | &nbsp;
              span.label.label-warning Atıştırmalıklar
              | &nbsp;
              span.label.label-warning Ücretsiz WiFi
              | &nbsp;
    .col-xs-12.col-sm-4
      p.lead
        | Oturacak bir yer ve ücretsiz WiFi mı arıyorsunuz? WiFi Buddy yakınınızdaki ücretsiz WiFi hizmeti sunan yerleri listeler.
  .row
    .col-xs-12.col-sm-8
      .row.list-group
         .col-xs-12.list-group-item
           h4
             a(href='/mekan1') Gloria Jeans
             small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty  
             span.badge.pull-right.badge-default 300m
           p.address Iyas Park AVM
           p
              span.label.label-warning Dünya Kahveleri
              | &nbsp;
              span.label.label-warning Kurabiyeler
              | &nbsp;
              span.label.label-warning Ücretsiz WiFi
              | &nbsp;
    .col-xs-12.col-sm-4      
  .row
    .col-xs-12.col-sm-8
      .row.list-group
         .col-xs-12.list-group-item
           h4
             a(href='/mekan2') Somun Arasi
             small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty  
             span.badge.pull-right.badge-default 100m
           p.address Iyas Park AVM
           p
              span.label.label-warning Somunarası
              | &nbsp;
              span.label.label-warning Kofte
              | &nbsp;
              span.label.label-warning Ücretsiz WiFi
              | &nbsp;
    .col-xs-12.col-sm-4
  .row
    .col-xs-12.col-sm-8
      .row.list-group
         .col-xs-12.list-group-item
           h4
             a(href='/mekan3') Tas Kafe
             small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star 
             span.badge.pull-right.badge-default 1000m
           p.address Bati Yerleskesi
           p
              span.label.label-warning Balik
              | &nbsp;
              span.label.label-warning Kofte
              | &nbsp;
              span.label.label-warning SDU WiFi
              | &nbsp;
    .col-xs-12.col-sm-4
  .row
    .col-xs-12.col-sm-8
      .row.list-group
         .col-xs-12.list-group-item
           h4
             a(href='/mekan4') Cam Kafe
             small &nbsp;
              span.glyphicon.glyphicon-star-empty  
              span.glyphicon.glyphicon-star-empty  
              span.glyphicon.glyphicon-star-empty  
              span.glyphicon.glyphicon-star-empty  
              span.glyphicon.glyphicon-star-empty  
             span.badge.pull-right.badge-default 1000m
           p.address Bati Yerleskesi
           p
              span.label.label-warning Ekmek Arasi
              | &nbsp;
              span.label.label-warning Kofte
              | &nbsp;
              span.label.label-warning SDU WiFi
              | &nbsp;
    .col-xs-12.col-sm-4   